@{
    ViewData["Title"] = "Quadrants";
}

@model List<TaskForm>

<h1>@ViewData["Title"]</h1>

@*Column Heading*@
<div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
        <h2>Urgent</h2>
    </div>
    <div class="col-sm-3">
        <h2>Not Urgent</h2>
    </div>
</div>

@*Row 1 with Q1 and Q1 tasks*@
<div class="row">
    <div class="col-sm-3">
        <h2>Important</h2>
    </div>
    <div class="col-sm-3">
        <h3>Quadrant I:</h3>
        <h5> Important / Urgent</h5>
        <hr />
        @foreach (var task in Model)
        {
            @if (task.Quadrant == 1 && !task.Completed)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@task.Task</h5>
                        @if (task.Category != null)
                        {
                            <p class="card-text">Category: @task.Category.CategoryName</p>
                        }
                        @if (task.DueDate != null)
                        {
                            <p class="card-text">Due Date: @task.DueDate?.ToShortDateString()</p>

                        }
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-controller="Home" asp-route-taskid="@task.TaskID" class="btn btn-danger">Delete</a>
                        <form asp-action="MarkComplete" asp-controller="Home" asp-route-taskid="@task.TaskID" class="d-inline">
                            <button type="submit" class="btn btn-success">Mark Complete</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>

    <div class="col-sm-3">
        <h3>Quadrant II:</h3>
        <h5>Important / Not Urgent</h5>
        <hr />
        @foreach (var task in Model)
        {
            @if (task.Quadrant == 2 && !task.Completed)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@task.Task</h5>
                        @if (task.Category != null)
                        {
                            <p class="card-text">Category: @task.Category.CategoryName</p>
                        }
                        @if (task.DueDate != null)
                        {
                            <p class="card-text">Due Date: @task.DueDate?.ToShortDateString()</p>

                        }
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-controller="Home" asp-route-taskid="@task.TaskID" class="btn btn-danger">Delete</a>
                        <form asp-action="MarkComplete" asp-controller="Home" asp-route-taskid="@task.TaskID" class="d-inline">
                            <button type="submit" class="btn btn-success">Mark Complete</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>

@*Row 2 with Q3 and Q4 tasks*@
<div class="row">
    <div class="col-sm-3">
        <h2>Not Important</h2>
    </div>
    <div class="col-sm-3">
        <h3>Quadrant III: </h3>
        <h5>Not Important / Urgent</h5>
        <hr />
        @foreach (var task in Model)
        {
            @if (task.Quadrant == 3 && !task.Completed)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@task.Task</h5>
                        @if (task.Category != null)
                        {
                            <p class="card-text">Category: @task.Category.CategoryName</p>
                        }
                        @if (task.DueDate != null)
                        {
                            <p class="card-text">Due Date: @task.DueDate?.ToShortDateString()</p>

                        }
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-controller="Home" asp-route-taskid="@task.TaskID" class="btn btn-danger">Delete</a>
                        <form asp-action="MarkComplete" asp-controller="Home" asp-route-taskid="@task.TaskID" class="d-inline">
                            <button type="submit" class="btn btn-success">Mark Complete</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-sm-3">
        <h3>Quadrant IV: </h3>
        <h5>Not Important / Not Urgent</h5>
        <hr />
        @foreach (var task in Model)
        {
            @if (task.Quadrant == 4 && !task.Completed)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@task.Task</h5>
                        @if (task.Category != null)
                        {
                            <p class="card-text">Category: @task.Category.CategoryName</p>
                        }
                        @if (task.DueDate != null)
                        {
                            <p class="card-text">Due Date: @task.DueDate?.ToShortDateString()</p>
                        }
                        <a asp-controller="Home" asp-action="Edit" asp-route-taskid="@task.TaskID" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-controller="Home" asp-route-taskid="@task.TaskID" class="btn btn-danger">Delete</a>
                        <form asp-action="MarkComplete" asp-controller="Home" asp-route-taskid="@task.TaskID" class="d-inline">
                            <button type="submit" class="btn btn-success">Mark Complete</button>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</div>